<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DownloadLocation" value="C:\Users\james\Desktop\downloads"/>
    <add key="Browser" value="c"/>
    <add key="Environment" value="dev"/>
    <add key="StartMaximized" value="true"/>
    <add key="IgnoreSsl" value="true"/>
  </appSettings>
</configuration>