<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DownloadLocation" value="C:\Users\james\Desktop\downloads"/> <!-- sets a new default download directory -->
    <add key="Browser" value="eh"/> <!-- sets the browser type -->
    <add key="Environment" value="dev"/> <!-- sets the environment config file to use -->
    <add key="StartMaximized" value="true"/> <!-- sets whether or not to maximize the browser window -->
    <add key="IgnoreSsl" value="true"/> <!-- sets whether or not to ignore ssl certificate browser errors -->
  </appSettings>
</configuration>